/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/10/2018, 12:58:51 PM
    Author     : pepee
*/
html {
	background:#fff;
	font-size: 16px;
	font-family: Ubuntu;
	transition:all 0.5s linear;	
	box-sizing: border-box;
}

.img-resp{
	width: 100%;
}
.img-responsive {
    width: 100%;
}
.col-4{
    width: 30%;
}
.col-3{
    width: 25%;
}

/*TEXTOS*/

.parrafo-normal {
	font-family: Lato;
	font-weight: 400;
	font-size: 0.875em;
	letter-spacing: 0.015em;
	line-height: 1.2em;
}
.titulo-grande {
	font-family: Ubuntu;
	font-weight: 700;
	font-size: 3.125em;
	letter-spacing: 0.05em;
	line-height: 1.2em;
}
.titulo-mediano {
	font-family: Ubuntu;
	font-weight: 700;
	font-size: 1.5em;
	letter-spacing: 0.05em;
    line-height: 1.2em;
    text-transform: uppercase;
}
.titulo-pequeno {
	font-family: Ubuntu;
	font-weight: 700;
	font-size: 1em;
	letter-spacing: 0.05em;
	line-height: 1.2em;
}

.btn-inicio{
	background-color: #FAB550;
	border-radius: 10px;
	padding: 2% 12%;
        position: absolute;
        margin-left: -18%;
}
h3.titulo-pequeno{
	text-align: center;
	color: white;
}
.txtconfig{
    text-align: center;
    color: rgb(251, 174, 60);
}

.wrap {
	width: 85%;
	max-width: 1592px;
	margin: 0 auto;
        
}

.fondoPrincipal{
    height: 100vh;
    min-height: fit-content;
    width: 100%;
    background-image: url(Imagenes/Principal/Fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bordes {
    /* border-color: rgb(251, 174, 60); */
    border: 1px solid rgb(251, 174, 60);
    border-radius: 10px;
    font-family: Arial;
    font-size: 15pt;
    height: 45px;
    margin: 1% 0%;
    padding: 8% 30%;
}

.btnoragne {
    padding: 4% 0;
    text-align: center;
    width: 400px;
    border-radius: 15px;
    background-color: #FAB550;
}
.btnoragne h2{
    color: white;
    font-size: 1.6em;
}



#logo{
	margin-top: 3%;
        height: 40%;
        width: 40%;
	background-image: url("Imagenes/Principal/Logo.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
}
#menu_inicio ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#menu_inicio ul, #menu_inicio li  {
	margin: 1% 0;
}
#whtcube{
    background-color: white;
    border-radius: 10px;
    position: relative;   
    padding: 2% 5%;
}
#efecto {
    position: relative;
    margin-left: -15%;
}
.formini{
    margin: 10% 0;
}
.formini div{
    margin-bottom: 3%;
}
.btnconfirmar{
    transform: translateX(25%);
}
.errorMsg {
    font-size: x-large;
}



input[type=text],input[type=password] {
    width: 100%;
    padding: 0% ;
    text-align: center;
}
.tdemo{
    margin: 3% 0;
}
#myCarousel{
    display:flex;
    flex-direction: column;
    align-items: center;
    
}


/*-----------REGISTRO-----------*/
#whtcube-2{
    background-color: white;
    border-radius: 10px;
    display: flex;   
    padding: 1% 0 1% 3%;
    width: 80%;
    position: relative;
}
#reg {
    display: flex;
    justify-content: space-between;
    width: 106%;
}
#textIn {
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
#frmreg{
    margin-right: 5%;
}
#frmreg  > * {
    margin: 5% 0;
}
#regfotos{
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.ltarrow {
    font-size: 5em;
    color: #FAAD3C;
    margin-left: -25%;
}
input.parrafo-normal.btnoragne {
    font-size: 2.5em;
    color: white;
    margin-top: 5%;
}
.inises{
    
}
.imgpre {
    max-width: 125px;
    max-height: 125px;
}
#imgBorder img:hover {
    border: solid;
    max-width: 118px;
    max-height: 118px;
}
.imgoptions{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 75%;   
    justify-content: space-evenly;
}
#regfotos * {
    margin-bottom: 1%;
}
.btnsubmitreg{
    margin: 0;
}

/*------------------INICIA SESION----------------*/
#bckbutton {
    position: absolute;
    left: 0;
    top: 0;
    margin: 2% 5%;
}
#sesion #whtcube {
    font-size: 0.91em;
    display: flex;
    padding: 0% 5%;
    align-items: center;
}
#sesion #whtcube .col-sm-12 {
    /* margin: 0 12% 0 3%; */
    margin: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
}
#sesion #whtcube .col-sm-12 .formini {
    margin: 5% 0;
    display: flex;
    flex-flow: column;
    align-items: center;
}
#sesion #whtcube .col-sm-12 img {
    margin-top: 10%;
}
#ini-user, #ini-pass, #usuario{
    width: 100%;
}
#userinixtra, #change-pass{
    display: flex;
    flex-flow: column;
    align-items: center;
    
}

/*----------APP---------*/
.fondoapp {
    height: calc(100vh - 15vh - 5vh);
    color: #eff1f6;
    min-height: fit-content;
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.logoapp {
    height: 80px;
/*    height: 60px;*/
    width: 100%;
    background-image: url(Imagenes/Principal/Logo.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}
header{
    width: 100%;
     background-color: #455879;
}
.hnav, nav {
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    justify-content: space-between;
    height: 15vh;
}
.mnuprincipal{
    display: flex;
    flex-flow: row;
}

.navbar {
    overflow: hidden;
    background-color: #455879;
    font-family: Arial, Helvetica, sans-serif;
    width: 88%;
    align-items: center;
    justify-content: space-around;
}

.navbar a {
    float: left;
    font-size: 17px;
    width: 12%;
    color: white;
    text-align: center;
    padding: 40px 0%;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}
.navimgprincipal {
    height: 15vh;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    width: 125%;
    outline: none;
    color: white;
    padding: 37px 12%;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    transition: all 0.5s ease 0s;
}

.navbar a:hover, .dropdown:hover .dropbtn , .dropdown.nvimguser:hover {
    background-color: #FAAD3C;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    width: 100%;
    padding: 12px 0;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: all 0.5s ease 0s;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown.nvimguser {
    width: 15%;
    padding: 4px 0%;
    transition: all 0.5s ease 0s;
}
.dropdown-content.nvuser {
    width: 12%;
    margin-top: 4px;
}

.imguser {
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
}
#letras.titulo-pequeno{
    color: white;
}
.navbar .imgreturn {
    width: 6%;
    padding: 0;
    border-radius: 100%;
}
footer {
    font-size: 0.7em;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 10px 0%;
    background-color: rgb(56, 71, 97);
}
footer .wrap{
    width: 97%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
footer .wrap *{
    color: white; 
}
footer p{
    
}

.pad2 {
    max-width: 70px;
    margin-bottom: 3%;
}
.ppalapp, #ppalopc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#ppalopc {   
    justify-content: space-between;
}
.slickclass{
    width: 100%;
}
button.slick-arrow {
    position: absolute;
    top: 30%;
    z-index: 1;
    background-color: rgba(93, 118, 162, 0.5); 
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
button.slick-arrow:hover {
    background-color: rgba(69, 88, 121, 0.8); 
     transition: all 0.5s ease;
}
button.slick-prev {
    left: 0;
}
button.slick-next{
    right: 0;
}
.fa-angle-left, .fa-angle-right{
    font-size: 4em;
}
.imgslick{
    width: 100%;
    object-fit: cover;  
}
/*-----------------PUNTAJE PERSONAL----------*/
.wrap.puntpersonal{
    display: flex;
    flex-flow: row;
}
#imgpuntprincipal{
    width: 35%;
}
#infpuntprincipal {
    width: 60%;
    display: flex;
    margin-left: 5%;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}
.tuPuntaje .titulo-grande  {
    color: rgb(19, 24, 32);
}

/*--------index-----------*/
#headindex{
    height: calc (100vh - 15vh);
    min-height: fit-content;
    width: 100%;
    background-image: url(Imagenes/index/fondoindex.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#listaapp{
    
}

/*-----------------CONFIGURACION----------*/
#select-avatar, #cambio-nombre, #conf-pass, #change-pass{
    display: none;
}
.wrap.pgconf {
   height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cnfppal {
    flex-flow: column;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: inherit;  
}
#select-avatar, #cambio-nombre, #conf-pass{
    width: 40%;
}

/*-----------------DICCIONARIO----------*/
.fondoapp.pgebusqueda {
    justify-content: start;
}
.titulo-grande.orgetxt{
    color: #FBAE3C;
}
#btnsbusqueda {
    display: flex;
    flex-flow: row;
    margin: 2% 0;
    justify-content: space-evenly;
}
#busquedadicc, #busquedaall{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-content: center;
}
#busquedaall{
   display: none; 
}
#btnsbusqueda .btnoragne {
    padding: 1% 0%;
    width: 228px;
    transition: all 0.5s ease 0s;
    cursor: pointer;
}
#btnsbusqueda .btnoragne:hover {
    background-color: #455879;
    color: white;
}
#btnsbusqueda .btnoragne h2 {
    font-size: 1.4em;
}
#busquedaquck, #videodiccionario{
    width: 40%;
}
#buscadordic{
    display: flex;
    flex-flow: row;
}
#lupa{
    width: 20%;
}
.bordes.inptbuscador{
    width: 90%;
}
/*-----------------Selección de unidad----------*/
.wrap.pgunidad {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: inherit;
    align-items: center;
}

.btnoragneunidad {
    width: 200px;
    padding: 90px 0;
    text-align: center;
    border-radius: 15px;
    background-color: #FCDEB0;
    border: solid #FAB248 5px;
    cursor: pointer;
    position: relative;
    margin: 0 2%;
}

.btnoragneunidad h2{
    color: #5D666B;
    font-size: 1.6em;
}

.btnoragneunidad.unitblock h2::after {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    width: 105%;
    height: 105%;
    border-radius: 15px;
    background: rgba(69, 88, 121, 0.7);
    cursor: not-allowed;
}
.btnoragneunidad.unitblock::after {
    content: url(Imagenes/niveles/candado.png);
    position: absolute;
    top: 30px;
    left: 47px;
    cursor: not-allowed;
}