/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/10/2018, 12:58:51 PM
    Author     : pepee
*/
html {
	background:#fff;
	font-size: 16px;
	font-family: Ubuntu;
	transition:all 0.5s linear;	
	box-sizing: border-box;
}

.img-resp{
	width: 100%;
}
.img-responsive {
    width: 100%;
}
.col-4{
    width: 30%;
}
.col-3{
    width: 25%;
}

/*TEXTOS*/

.parrafo-normal {
	font-family: Lato;
	font-weight: 400;
	font-size: 0.875em;
	letter-spacing: 0.015em;
	line-height: 1.2em;
}
.titulo-grande {
	font-family: Ubuntu;
	font-weight: 700;
	font-size: 3.125em;
	letter-spacing: 0.05em;
	line-height: 1.2em;
}
.titulo-mediano {
	font-family: Ubuntu;
	font-weight: 700;
	font-size: 1.5em;
	letter-spacing: 0.05em;
    line-height: 1.2em;
    text-transform: uppercase;
}
.titulo-pequeno {
	font-family: Ubuntu;
	font-weight: 700;
	font-size: 1em;
	letter-spacing: 0.05em;
	line-height: 1.2em;
}

.btn-inicio{
	background-color: #FAB550;
	border-radius: 10px;
	padding: 2% 12%;
        position: absolute;
        margin-left: -18%;
}
h3.titulo-pequeno{
	text-align: center;
	color: white;
}
.txtconfig{
    text-align: center;
    color: rgb(251, 174, 60);
}

.wrap {
	width: 85%;
	max-width: 1592px;
	margin: 0 auto;
        
}

.fondoPrincipal{
    height: 100vh;
    min-height: fit-content;
    width: 100%;
    background-image: url(Imagenes/Principal/Fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bordes {
    /* border-color: rgb(251, 174, 60); */
    border: 1px solid rgb(251, 174, 60);
    border-radius: 10px;
    font-family: Arial;
    font-size: 15pt;
    height: 45px;
    margin: 1% 0%;
    padding: 8% 30%;
}

.btnoragne {
    padding: 4% 0;
    text-align: center;
    width: 400px;
    border-radius: 15px;
    background-color: #FAB550;
}
.btnoragne h2{
    color: white;
    font-size: 1.6em;
}



#logo{
	margin-top: 3%;
        height: 40%;
        width: 40%;
	background-image: url("Imagenes/Principal/Logo.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
}
#menu_inicio ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#menu_inicio ul, #menu_inicio li  {
	margin: 1% 0;
}
#whtcube{
    background-color: white;
    border-radius: 10px;
    position: relative;   
    padding: 2% 5%;
}
#efecto {
    position: relative;
    margin-left: -15%;
}
.formini{
    margin: 10% 0;
}
.formini div{
    margin-bottom: 3%;
}
.btnconfirmar{
    transform: translateX(25%);
}
.errorMsg {
    font-size: x-large;
}



input[type=text],input[type=password] {
    width: 100%;
    padding: 0% ;
    text-align: center;
}
.tdemo{
    margin: 3% 0;
}
#myCarousel{
    display:flex;
    flex-direction: column;
    align-items: center;
    
}


/*-----------REGISTRO-----------*/
#whtcube-2{
    background-color: white;
    border-radius: 10px;
    display: flex;   
    padding: 1% 0 1% 3%;
    width: 80%;
    position: relative;
}
#reg {
    display: flex;
    justify-content: space-between;
    width: 106%;
}
#textIn {
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
#frmreg{
    margin-right: 5%;
}
#frmreg  > * {
    margin: 5% 0;
}
#regfotos{
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.ltarrow {
    font-size: 5em;
    color: #FAAD3C;
    margin-left: -25%;
}
input.parrafo-normal.btnoragne {
    font-size: 2.5em;
    color: white;
    margin-top: 5%;
}
.inises{
    
}
.imgpre {
    max-width: 125px;
    max-height: 125px;
}
#imgBorder img:hover {
    border: solid;
    max-width: 118px;
    max-height: 118px;
}
.imgoptions{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 75%;   
    justify-content: space-evenly;
}
#regfotos * {
    margin-bottom: 1%;
}
.btnsubmitreg{
    margin: 0;
}

/*------------------INICIA SESION----------------*/
#bckbutton {
    position: absolute;
    left: 0;
    top: 0;
    margin: 2% 5%;
}
#sesion #whtcube {
    font-size: 0.91em;
    display: flex;
    padding: 0% 5%;
    align-items: center;
}
#sesion #whtcube .col-sm-12 {
    /* margin: 0 12% 0 3%; */
    margin: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
}
#sesion #whtcube .col-sm-12 .formini {
    margin: 5% 0;
    display: flex;
    flex-flow: column;
    align-items: center;
}
#sesion #whtcube .col-sm-12 img {
    margin-top: 10%;
}
#ini-user, #ini-pass, #usuario{
    width: 100%;
}
#userinixtra, #change-pass{
    display: flex;
    flex-flow: column;
    align-items: center;
    
}

/*----------APP---------*/
.fondoapp {
    height: calc(100vh - 15vh - 5vh);
    color: #eff1f6;
    min-height: fit-content;
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.logoapp {
    height: 80px;
/*    height: 60px;*/
    width: 100%;
    background-image: url(Imagenes/Principal/Logo.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}
header{
    width: 100%;
     background-color: #455879;
}
.hnav, nav {
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    justify-content: space-between;
    height: 15vh;
}
.mnuprincipal{
    display: flex;
    flex-flow: row;
}

.navbar {
    overflow: hidden;
    background-color: #455879;
    font-family: Arial, Helvetica, sans-serif;
    width: 88%;
    align-items: center;
    justify-content: space-around;
}

.navbar a {
    float: left;
    font-size: 17px;
    width: 12%;
    color: white;
    text-align: center;
    padding: 6vh 0%;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}
.navimgprincipal {
    height: 15vh;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    min-width: 160px;
    max-width: 160px;
    outline: none;
    color: white;
    padding: 6vh 1%;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    transition: all 0.5s ease 0s;
}

.navbar a:hover, .dropdown:hover .dropbtn , .dropdown.nvimguser:hover {
    background-color: #FAAD3C;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    width: 100%;
    padding: 12px 0;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: all 0.5s ease 0s;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown.nvimguser {
    width: 15%;
    padding: 1vh 0%;
    transition: all 0.5s ease 0s;
}
.dropdown-content.nvuser {
    width: 12%;
}

.imguser {
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
    padding: 1vh 0;
}
#letras.titulo-pequeno{
    color: white;
}
.navbar .imgreturn {
    width: 6%;
    padding: 0;
    border-radius: 100%;
}
footer {
    font-size: 0.7em;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 10px 0%;
    background-color: rgb(56, 71, 97);
}
footer .wrap{
    width: 97%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
footer .wrap *{
    color: white; 
}
footer p{
    
}

.pad2 {
    max-width: 70px;
    margin-bottom: 3%;
}
.ppalapp, #ppalopc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#ppalopc {   
    justify-content: space-between;
}
.slickclass{
    width: 100%;
}
button.slick-arrow {
    position: absolute;
    top: 30%;
    z-index: 1;
    background-color: rgba(93, 118, 162, 0.5); 
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
button.slick-arrow:hover {
    background-color: rgba(69, 88, 121, 0.8); 
     transition: all 0.5s ease;
}
button.slick-prev {
    left: 0;
}
button.slick-next{
    right: 0;
}
.fa-angle-left, .fa-angle-right{
    font-size: 4em;
}
.imgslick{
    width: 100%;
    object-fit: cover;  
}
/*-----------------PUNTAJE PERSONAL----------*/
.wrap.puntpersonal{
    display: flex;
    flex-flow: row;
}
#imgpuntprincipal{
    width: 35%;
}
#infpuntprincipal {
    width: 60%;
    display: flex;
    margin-left: 5%;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}
.tuPuntaje .titulo-grande  {
    color: rgb(19, 24, 32);
}
/*-----------------PUNTAJE GLOBAL----------*/



.header {
   background-color: darken(#398B93, 5%);
   color: white;
   font-size: 1.5em;
   padding: 1rem;
   text-align: center;
   text-transform: uppercase;
}


.table-users {
   border: 1px solid darken(#398B93, 5%);
   border-radius: 10px;
   box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
   max-width: calc(100% - 2em);
   margin: 1em auto;
   overflow: hidden;
   width: 800px;
}

table {
   width: 100%;
   
   td, th { 
      color: darken(#398B93, 10%);
      padding: 10px; 
   }
   
   td {
      text-align: center;
      vertical-align: middle;
      
      &:last-child {
         font-size: 0.95em;
         line-height: 1.4;
         text-align: left;
      }
   }
   
   th { 
      background-color: lighten(#398B93, 50%);
      font-weight: 300;
   }
   
   tr {     
      &:nth-child(2n) { background-color: white; }
      &:nth-child(2n+1) { background-color: lighten(#398B93, 55%) }
   }
}

@media screen and (max-width: 700px) {   
   table, tr, td { display: block; }
   
   td {
      &:first-child {
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         width: 100px;
      }

      &:not(:first-child) {
         clear: both;
         margin-left: 100px;
         padding: 4px 20px 4px 90px;
         position: relative;
         text-align: left;

         &:before {
            color: lighten(#398B93, 30%);
            content: '';
            display: block;
            left: 0;
            position: absolute;
         }
      }

      &:nth-child(2):before { content: 'Name:'; }
      &:nth-child(3):before { content: 'Email:'; }
      &:nth-child(4):before { content: 'Phone:'; }
      &:nth-child(5):before { content: 'Comments:'; }
   }
   
   tr {
      padding: 10px 0;
      position: relative;
      &:first-child { display: none; }
   }
}

@media screen and (max-width: 500px) {
   .header {
      background-color: transparent;
      color: lighten(#398B93, 60%);
      font-size: 2em;
      font-weight: 700;
      padding: 0;
      text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
   }
   
   img {
      border: 3px solid;
      border-color: lighten(#398B93, 50%);
      height: 100px;
      margin: 0.5rem 0;
      width: 100px;
   }
   
   td {
      &:first-child { 
         background-color: lighten(#398B93, 45%); 
         border-bottom: 1px solid lighten(#398B93, 30%);
         border-radius: 10px 10px 0 0;
         position: relative;   
         top: 0;
         transform: translateY(0);
         width: 100%;
      }
      
      &:not(:first-child) {
         margin: 0;
         padding: 5px 1em;
         width: 100%;
         
         &:before {
            font-size: .8em;
            padding-top: 0.3em;
            position: relative;
         }
      }
      
      &:last-child  { padding-bottom: 1rem !important; }
   }
   
   tr {
      background-color: white !important;
      border: 1px solid lighten(#398B93, 20%);
      border-radius: 10px;
      box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
      margin: 0.5rem 0;
      padding: 0;
   }
   
   .table-users { 
      border: none; 
      box-shadow: none;
      overflow: visible;
   }
}





/*--------index-----------*/
#headindex{
    height: calc (100vh - 15vh);
    min-height: fit-content;
    width: 100%;
    background-image: url(Imagenes/index/fondoindex.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#listaapp{
    
}

/*-----------------CONFIGURACION----------*/
#select-avatar, #cambio-nombre, #conf-pass, #change-pass{
    display: none;
}
.wrap.pgconf {
   height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cnfppal {
    flex-flow: column;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: inherit;  
}
#select-avatar, #cambio-nombre, #conf-pass{
    width: 40%;
}

#imgactual {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
#imgBorder, #avataraconfir{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#chnamebox{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
#chnamebox *{
    margin: 2% 0;
}
#cambio-nombre .titulo-mediano{
    color: black;
}
#updte {
    background-color: darkred;
}




/*-----------------DICCIONARIO----------*/
.fondoapp.pgebusqueda {
    justify-content: start;
}
.titulo-grande.orgetxt{
    color: #FBAE3C;
}
#btnsbusqueda {
    display: flex;
    flex-flow: row;
    margin: 2% 0;
    justify-content: space-evenly;
}
#busquedadicc, #busquedaall{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-content: center;
}
#busquedaall{
   display: none; 
}
#btnsbusqueda .btnoragne {
    padding: 1% 0%;
    width: 228px;
    transition: all 0.5s ease 0s;
    cursor: pointer;
}
#btnsbusqueda .btnoragne:hover {
    background-color: #455879;
    color: white;
}
#btnsbusqueda .btnoragne h2 {
    font-size: 1.4em;
}
#busquedaquck, #videodiccionario, #busquedaall{
    width: 40%;
}
#buscadordic{
    display: flex;
    flex-flow: row;
}
#lupa{
    width: 20%;
}
.bordes.inptbuscador{
    width: 90%;
}
.videoshow {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.videoshow video{
    width: 60%;
}


.titulo-grande.diccionario, .titulo-mediano.diccionario{
    color: black;
    text-align: center;
}
.diccionario.textos {
    display: flex;
    padding: 5% 0;
    flex-flow: column;
    width: 100%;
}


.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

input[type=text]#letra {
  background-color: #f2f2f2;
  width: 95%;
  margin: 0;
}

.autocomplete-items {
  position: absolute;
  width: 95%;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #9ba4b0;
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div * {
color: black;
}
.autocomplete-items div:hover {
  background-color: #707d8f;
}
.autocomplete-items div strong{
    color: black;
    font-weight: bold;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: black; 
}





/*-----------------Selección de unidad----------*/
.wrap.pgunidad {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: inherit;
    align-items: center;
}

.btnoragneunidad {
    width: 185px;
    padding: 85px 0;
    text-align: center;
    border-radius: 15px;
    background-color: #FCDEB0;
    border: solid #FAB248 5px;
    cursor: pointer;
    position: relative;
    margin: 0 4%;
}

.btnoragneunidad h2{
    color: #5D666B;
    font-size: 1.4em;
}

.btnoragneunidad.unitblock h2::after {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    width: 105%;
    height: 105%;
    border-radius: 15px;
    background: rgba(69, 88, 121, 0.7);
    cursor: not-allowed;
}
.btnoragneunidad.unitblock::after {
    content: url(Imagenes/niveles/candado.png);
    position: absolute;
    top: 25px;
    left: 40px;
    cursor: not-allowed;
}





/*------------------Seleccion de nivel--------------*/
.btnoragneniv {
       width: 230px;
    padding: 105px 0;
    text-align: center;
    border-radius: 15px;
    background-color: #FCDEB0;
    border: solid #FAB248 5px;
    cursor: pointer;
    position: relative;
    margin: 0 4%;
}
.btnoragneniv h2{
    color: #5D666B;
    font-size: 1.6em;
}

/*-----------------EJERCICIOS--------------*/
#puntaje {
    padding: 3% 0%;
    border: 1px solid white;
    border-radius: 7px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: monospace;
}
.navbar.navejercicio {
    margin: 0;
    justify-content: space-between;
}
.puntejercicio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
     margin-left: 10%;
    margin-right: 20%;
}
#estrella {
    max-width: 50px;
    min-width: 50px;
}
#puntaje::after {
    content: url(Imagenes/Ejercicios/estrella.png);
    position: absolute;
    top: 10%;
    left: 26%;
    max-width: 50px;
    min-width: 50px;
}
.layoutejercicio{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.layoutejercicio *{
    margin-bottom: 1%;
}
.encabezado{
    text-align: center;
    width: 100%;
    font-weight: bold;
    color: rgb(251, 174, 60);
    font-size: x-large;
}
.btnrespuestas, .btnrespusetasvideo{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}


.btnrespuestas *{
    width: 30%;
}
.col-4.imgejercicio{
    max-width: 400px;
    min-width: 400px;
}
.mdal{
   display: none;
}
.mrespuesta{
    display: flex;
}
.mdal, .mrespuesta {
    position: fixed;
    z-index: 2;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.imgmodal {
    max-width: 500px;
    min-width: 500px;
    margin-bottom: 10%;
    animation-name: animodal;
    animation-duration: 0.5s;
}
.incomodal, .incomodalej2 {
    margin-bottom: 5%;
    animation-name: animodal;
    animation-duration: 0.5s;
    width: 50%;
    height: 65%;
    background: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
}
.boximg{
    max-width: 150px;
    min-width: 150px;
}
/*.incomodal img{
    max-width: 300px;
    min-width: 300px;
}
.incomodalej2 img{
    max-width: 190px;
    min-width: 190px;
}*/


@keyframes animodal {
  from {margin-bottom: 100%;}
  to {margin-bottom: 10%;}
}
    
    
.fondemdal {
    background-color: #F8F8F8;
    width: 40%;
    height: 30%;
    display: flex;
    flex-flow: column;
    margin-bottom: 10%;
    animation-name: animodal;
    animation-duration: 0.5s;
}
.modal-header h3.titulo-mediano {
    color: black;
}
.close {
    font-size: 36px;
    font-weight: 700;
}
.modal-header, .modal-body{
    display: flex;
    flex-flow: column;
}
.modal-header{
    align-items: flex-end;
    padding: 15px;
}
.modal-body{
    padding: 5% 0;
    display: flex;
    align-items: center;
}
.modal-footer {
    display: flex;
    padding: 5% 0;
    justify-content: center;
    align-items: center;
}
#btnsalir{
    padding: 5% 20%;
}

.rsptaej2{
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.modal-backdrop {
    position:inherit !important;
}
.rightanswer{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}
.rightanswer h4.encabezado{
    font-family: 'Roboto Slab', serif;
    font-size: 2em;
    color: #455879;
}
.rightanswer video {
    width: 240px;
    height: 210px;
}
/*.btnrespusetasvideo img{
    width: 30%;
}*/
.extranswer {
    width: 35%;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.extranswer img{
    width: 60%;
}
.radbuttonsextra{
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
        align-items: center;
}

/*----------------------*/

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: #E0E0E0;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2f3b51;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 2px;
    width: 12px;
    height: 21px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container .btnoragne {
    padding: 1% 0%;
    width: 180px;
    border-radius: 8px;
}